<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>VolunText Login</title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/login-styles.css">
</head>
<body>
  <main class="container-fluid">
    <header class="row">
      <div class="col-md-12">
        <h1>VolunText</h1>
      </div>
    </header>
    <section class="row">
      <div class="col-md-12">
        <form id="login-form" method="POST" action="/api/auth">
          <h4>User Login</h4>
          <fieldset>
            <p>Email</p>
            <input type="text" id="user-field" name="email">
            <p>Password</p>
            <input type="password" id="pwd-field" name="password">
            <div>
              <input type="submit" value="Submit" id="submit-btn">
            </div>
          </fieldset>
          <fieldset>
            <a href='/api/auth/facebook'><h3>Login with Facebook</h3></a>
          </fieldset>
        </form>
      </div>
    </section>
  </main>
</body>
</html>