<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>VolunText User Profile</title>
  <!-- reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/user-page.css">
  <meta property="fb:app_id" content="2360172457541198">
  <meta property="og:type" content="article">
</head>
<body class="container-fluid">
  <header class="row">
    <h1>"Welcome to the User Profile Page"</h1>
    <nav class="col-md-12">

    </nav>
    <h3>Total Hours Volunteered: <span id='total-hours'></span></h3>

  </header>

  <!-- the main body: begin content -->
  <main class="row">

    <!-- Primary content -->
    <section class="col-md-12">

      <p id="new-vol-hours" class="fb-quotable">Hey I volunteered X hours!</p>
      <div id="fb-quote" class="fb-quote" data-layout="quote"></div>
      <button id="fb-pub-btn" type="button">Post Hours To Facebook!</button>
      <div id="fb-res-msg"></div>
    
    </section>

    <section class="preferences col-md-12">

      <h4>Receive text message reminders to report hours?</h4>
      <label class="switch">
        <input type="checkbox" id="sms-radio">
        <span class="slider round" id="sms-slider"></span>
      </label>
      
      <span id="sms-opt-msg">
        <p id="sms-yes" class="slider-msg hide">Yes</p>
        <p id="sms-no" class="slider-msg">No</p>
      </span>

    </section>
    
      <section class="col-md-12">
      
      <h4>System Messages</h4>
      <pre id="ws-messages"style="overflow: scroll; height: 100px; width: 75%;"></pre>
    
    </section>

      <!-- no more content past this piont -->
  </main>

<!-- footer  -->
<footer class="row">
  <div class="col-md-12">
    <p>&copy;Copyright 2017 Daniel Russo</p>
  </div>
</footer>
<script src='/facebook-sdk.js'></script>
<!-- <script src="/ws-apptest.js"></script> -->
<script src="/facebook-actions.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/user-profile.js'></script>
</body>
</html>
