<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Welcome To VolunText</title>
  <!-- reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/landing.css">
</head>
<body>

  <header>

    <h1>Welcome to VolunText</h1>
    <nav>
    </nav>
    
  </header>

  <!-- the main body: begin content -->
  <main>

    <!-- Primary content -->
    <section class="content-area">
      <h2>Current Users</h2>
      <a href="/login"><h4>login</h4></a>
      <h4>System Messages:</h4>
      <pre id="ws-messages"style="overflow: scroll; height: 400px; width: 75%;"></pre>
    </section>

      <!-- no more content past this piont -->
  </main>

<!-- footer  -->
<footer>
  <p>&copy;Copyright 2017 Daniel Russo</p>
</footer>

</body>
</html>
