<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Websocket Pub Test</title>
  <!-- reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

  <header>
    <h1>Testing Websocket</h1>
    <h3>No login<h3>
    <nav>

    </nav>

  </header>

  <!-- the main body: begin content -->
  <main class="entireContent">

    <!-- Primary content -->
    <section id="mainContent" class="contentArea">
      <button id="ws-button" type="button">Open WebSocket</button>
      <pre id="ws-messages"style="overflow: scroll; height: 400px; width: 75%;"></pre>

    </section>

      <!-- no more content past this piont -->
  </main>

<!-- footer  -->
<footer>
  <p>&copy;Copyright 2017 Daniel Russo</p>
</footer>
<script src="/ws-apptest.js"></script>
</body>
</html>
