<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>VolunText|User</title>
  <!-- reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="/reset.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/user-page.css">
  <link rel="stylesheet" type="text/css" href="/vtext-style.css">
  <meta property="fb:app_id" content="2360172457541198">
  <meta property="og:type" content="article">
</head>

<body>
  
  <header id="page-header" class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1 class="underline">VolunText<small id="username"></small></h1>
      </div>
    </div>
    <summary class="row">
      <div class="col-md-12">
        <h5>Total hours volunteered this year: <span class="standout" id="total-hours"></span></h5>
      </div>
    </summary>
    <div class="logout">
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </header>

  <!-- the main body: begin content -->
  <main class="container-fluid">

    <section id="user-actions" class="d-flex row">
      <!-- Share content to Facebook -->
      <div class="col-md-6">
        <h5>Recent Volunteer Activity</h5>
        <figure class="card">
          <div class="card-block">
            <!-- quote dialog api -->
            <p id="new-vol-hours" class="fb-quotable">This month you volunteered <span id='latest-hrs'></span> hours!</p>
          </div>
        </figure>
        <!-- share dialog api -->
        <button class="form-btn" id="fb-pub-btn" type="button">Share on Facebook!</button>
        <!-- share dialog api code will be inserted here -->
        <div id="fb-res-msg"></div>
      </div>
      <!-- Update volunteer hours -->
      <div class="col-md-6">
        <form action="/user/api/hours-update" method="post">
          <h5>Report Volunteer Hours</h5>
          <div class="form-row">
            <!-- <div class="col"> -->
              <label for="month-list">Month volunteered:</label>
              <select class="form-control" id="month-list" name="month">
                <option>January</option>
                <option>February</option> 
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
            <!-- </div> -->
          </div>
          <div class="form-row">
            <label for="new-hrs">Hours:</label>
            <input class="sm-input" id="new-hrs" name="hours" type="number" min="0" placeholder="0">
          </div>
          <div class="form-row">
            <label for="hrs-year">Year:</label>
            <input class="sm-input" id="hrs-year" name="year" type="number" min="1990" placeholder="YYYY">
          </div>
          <div class="form-row">
            <input id="report-hrs" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section>

    <!-- User preferences cards -->
    <aside id="preferences" class="row">
      <hgroup class="col-md-12">
        <h5>Preferences</h5>
      </hgroup>
      <section id="sms-opt" class="col-xl-3 col-lg-4 col-md-6">
        <header><p>Receive reminders via text message?</p></header>
        <label class="switch">
          <input type="checkbox" id="sms-radio">
          <span class="slider round" id="sms-slider"></span>
        </label>
        <span id="sms-opt-msg">
          <p id="sms-yes" class="slider-msg hide">Yes</p>
          <p id="sms-no" class="slider-msg">No</p>
        </span>
      </section>
      <section id="change-email" class="col-xl-3 col-lg-4 col-md-6">
        <header><p>Change Email:</p></header>
        <p class="instruct">*You will be sent a confirmation email</p>
        <form action="/user/api/email-update" method="post">
          <div class="label-input">
            <label>new email</label>
            <input id="new-email" name="email" type="email"><br>
          </div>
          <input class="form-btn" id="new-email-btn" type="submit">
        </form>
      </section>
      <section id="change-pwd" class="col-xl-3 col-lg-4 col-md-6">
        <header><p>Change Password:</p></header>
        <div class="label-input">
          <label>new password</label>
          <input id="pwd1" name="password1" type="password">
        </div>
        <div class="label-input">
          <label>confirm password</label>
          <input id="pwd2" name="password2" type="password">
        </div>
        <input class="form-btn" id="new-pwd-btn" type="submit">
      </section>
      <section id="conn-fb" class="col-xl-3 col-lg-4 col-md-6">
        <header><p>Connect Your Facebook Account:</p></header>
          <button class="form-btn" id="conn-fb-btn">Connect</button>
        </div>
      </section>
    </aside>
    
    <!-- <section class="row">
      <div class="col-md-12">
        <h5>System Messages</h5>
        <pre id="ws-messages"style="overflow: scroll; height: 100px; width: 75%;"></pre>
      </div>
    </section>
 -->
      <!-- no more content past this piont -->
  </main>

<!-- footer  -->
<footer class="footer">
  <div class="container">
    <p class="text-center">&copy;Copyright 2017 Daniel Russo</p>
  </div>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/user-profile.js'></script>
</body>
</html>
